.info-modal {
  box-sizing: border-box;
  height: 350px;
  width: 400px;
  color: black;
  line-height: 1.5em;;
  background-color: whitesmoke;
  z-index: 2;
  /* border: 3px solid green; */
  position: absolute;
}