.info-modal {
  box-sizing: border-box;
  height: 350px;
  width: 400px;
  color: white;
  line-height: 1.5em;;
  background-color: black;
  z-index: 2;
  border: 3px solid green;
  position: absolute;
}