.repo-upload-main {
  display: flex;
  flex-direction: column;
}

.form-example {
  /* border: 1px solid red; */
  height: 40px;
  width: 500px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  input {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  button {
    width: 200px;
    /* background-color: black; */
    /* color: #D9F334; */
    border: 1px solid black;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    height: 20px;
  }
}

.d3-visual-container {
  height: 100%;
  width: 1000px;
  border: 1px solid rgb(183, 183, 183);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.D3-and-clusters {
  display: flex;
  flex-direction: row; 
}

.D3-container {
  height: 100%;
  width: 990px;
  flex: 1; 
  padding: 10px; 
}

.ClustersDisplay-container {
  flex: 1; 
  padding: 10px; 
}

.upload-repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(199, 0, 0); */
  height: 100%;
}

.btn-container-main-page {
  position: relative;
  top: 100%;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.btn-pulse {
  animation: pulse 1.5s infinite;
  background: linear-gradient(45deg, #444, #777);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.75);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-pulse:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.85);
}

.btn-pulse:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.7);
}


