.repo-upload-main {
  display: flex;
  flex-direction: column;
}

.form-example {
  /* border: 1px solid red; */
  height: 40px;
  width: 500px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  input {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  button {
    width: 200px;
    /* background-color: black; */
    /* color: #D9F334; */
    border: 1px solid black;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    height: 20px;
  }
}

.d3-visual-container {
  height: 100%;
  width: 1000px;
  border: 1px solid rgb(183, 183, 183);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.upload-repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(199, 0, 0); */
  height: 100%;
}

