.signup-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.form-container-signup {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  left: 15%;
  top: 20%;
  width: 400px;
  height: 800px;
  position: absolute;
  z-index: 2;
  /* border: 3px solid #7c7c7c97; */
  /* background-color: #d2d1d2; */
  /* border-radius: 10px; */
  filter: drop-shadow(-5px 5px 10px #4747474d);
}

.input-title {
  color: whitesmoke;
  margin-bottom: 10px;
  font-weight: bold;
}

.bg-img {
  position: absolute;
  height: 700px;
  width: auto;
  left: 52%;
  top: 14%;
}

